<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-App</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.cdnfonts.com/css/samsungone" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="Info">
                <span id="location"><%=location %>&nbsp; <img src="images/location.svg"draggable="false"></img><date style=" font-weight: 100;"><%= date %></date></span>
                <span id="temperature"><%= temperature %><sup id="temp">o</sup>C
                    <div class="img">
                        <img src="<%= iconcode %>"draggable="false"alt="Weather icon" width="60px" height="60px"></img><br>
                    </div>
                </span>
                <span id="status"><%= description %></span>
            </div>
            <div class="Info"> 
                <!-- <span id="minmax"><%= min %><sup>o</sup>/&nbsp;<%= min %><sup>o</sup></span> -->
                <span id="minmax">Feels like <%= feel %><sup>o</sup> <img id="humid" src="images/drop.svg"draggable="false"></img>:&nbsp;<%= humidity %>%</span>
                <span id="minmaxq">
                    <img src="images/sunrise.svg"draggable="false"></img>&nbsp;:&nbsp;<%= sunrise %>
                    <div id="wind">
                         <img src="images/sunset.svg"draggable="false">
                    </div>&nbsp;:&nbsp;<%= sunset %>
                </span>
            </div>
        </div>
    </div>
</body>
</html>