<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-App</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.cdnfonts.com/css/samsungone" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="Info">
                <span id="location"><%=location %>&nbsp; <img src="images/location.svg"draggable="false"></img><date style=" font-weight: 100;"><%= date %></date></span>
                <span id="temperature"><%= temperature %><sup id="temp">o</sup>C
                    <div class="img">
                        <img src="images/cloud.svg"draggable="false"></img><br>
                    </div>
                </span>
                <span id="status"><%= description %><img  src="<%= iconcode %>" alt="Weather icon"></span>
            </div>
            <div class="Info"> 
                <span id="minmax"><%= min %><sup>o</sup>/&nbsp;<%= min %><sup>o</sup></span>
                <span id="minmax">Feels like <%= feel %><sup>o</sup></span>
                <span id="minmax">
                     <img src="images/drop.svg"draggable="false"></img>:&nbsp;<%= humidity %>%
                    <div id="wind">
                         <img src="images/wind.svg"draggable="false">
                    </div>:&nbsp;45 Kmph
                </span>
            </div>
        </div>
    </div>
</body>
</html>